[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
watchPatterns = ["Dockerfile", "railway.toml"]

[deploy]
startCommand = "node start.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

